<div class="p-4 mx-auto" style="max-width: 640px; margin-top: 5%;"> 
  <div class="flex justify-between items-center">
    <h1 class="text-3xl"><%= @idea.title %></h1>
    <%= link_to 'Edit', edit_idea_path(@idea), class: "shadow-md no-underline rounded-full px-6 py-2 bg-purple text-white mr-2"  %>
  </div>
  <p class="text-xl mt-4"><%= @idea.description %></p>
  <div class="mt-8">
    <%= link_to "See all ideas", ideas_path, class: "shadow-md no-underline rounded-full px-6 py-2 bg-purple text-white mr-2" %>
  </div>
</div>