<div class="h-screen bg-purple text-white py-4" style="padding-left: 5%; padding-right: 5%;">
  <div class="flex justify-between items-baseline">
    <p class="text-lg font-bold">💡 idea keep</p>
    <div class="white shadow-md rounded-full bg-white px-4 py-2 text-lg">
      <a href="" class='no-underline text-purple'><span class="hidden md:flex">Already have an account ?</span> <span class="md:hidden">Login</span></a>
    </div>
  </div>
  <br>
  <div class="flex flex-wrap mt-6 md:mt-8 lg:mt-0 justify-center lg:justify-around items-center">
    <div class="lg:w-1/2 text-center lg:text-left">
      <h2 class="text-5xl p-0">Keep your ideas as they come</h2>
      <p class="text-3xl mt-2 lg:mt-3 lg:text-grey-lighter">Get hold of all your inspiration </p>
    </div>
    <div class="w-full mt-8" style="max-width: 360px;">
      <br>
      <div class="bg-white shadow-md rounded-lg p-4" >
        <p class="text-center text-purple text-xl mb-3">
          Create an account
        </p>
        <form action="" class="flex flex-col">
          <label class="text-grey mb-2" for="">Name</label>
          <input type="text" class="appearance-none border-2 border-grey rounded p-2 mb-3" placeholder="Clark Kent">
          <label class="text-grey mb-2" for="">Email address</label>
          <input type="text" class="appearance-none border-2 border-grey rounded p-2 mb-3" placeholder="clark@kent.co">
          <label class="text-grey mb-2" for="">Password</label>
          <input type="text" class="appearance-none border-2 border-grey rounded p-2 mb-3" placeholder="clark@kent.co">
          <label class="text-grey mb-2" for="">Confirm password</label>
          <input type="text" class="appearance-none border-2 border-grey rounded p-2 mb-3" placeholder="clark@kent.co">
          <input type="submit" value="Let me in !" class="bg-purple p-2 py-3 mt-3 font-bold rounded-full text-white text-center">
        </form>
      </div>
    </div>
  </div>
</div>